section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.info {
    display:flex;
    flex-direction: column;
    max-width: 900px;
    padding: 0 50px;
    margin-left: 100px;
}

.pic {
    display:flex;
    max-width: 500px;
    padding: 0 50px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
  }

  .footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
  }

  .footer a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }

  .flexcon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    padding-left: 60px; 
  }

  .card-image {
    height: 200px;
    object-fit: cover;
  }

  .button {
    display: block;
    padding: 10px 40px;
    margin: 10px auto;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    outline: none;
    text-decoration: none;
    color: white;
    background: black;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
  
.button:hover, .button:focus, .button:active, .button:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

.check-out:hover, .check-out:focus, .check-out:active, .check-out:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {
    0%, 100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
}